<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div>
    <form th:action="@{/results}" method="post">
     <span th:each="choice : ${choices}">
                    <input
                            type="radio"
                            name="response"
                            th:id="${choice.key}"
                            th:value="${choice.key}"
                            th:checked="${choice.key == 'all'}"/>
                    <label th:for="${choice.key}" th:text="${choice.value}"></label>
                </span>
        <br>
    <button type="submit">Give it to me!</button>
    </form>
</div>
<div th:if="${adj} != null">
    <p >
        <h1 th:text="'You are ' + ${adj} + ${adj2} + ${name}"></h1>
    </p>
</div>
<div th:if="${encourage} != null">
    <p th:text="${encourage}"></p>
</div>
</body>
</html>